<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Home_Accounting.Properties.Settings.Home_AccountingConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;E:\Family\Расходы\Home Accounting.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>